  <table>
  <tr>
    <th colspan="2">Recipes</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><a href="/recipes/<%= recipe.id %>">Show</a></td>
  </tr>

<% end %>
</table>