<h1>Enter Your New Recipe Below:</h1>
<form method='post' action='/recipes'>
<p>Recipe Name:<input type='text' name='name'></p>
<p>Ingredients:<input type='text' name='ingredients'></p>
<p>Cook Time:<input type='text' name='cook_time'></p>
<input type='submit' name='submit'>
</form>