<form action="/recipes" method="POST">
    <p><label for="name">Name: <input type="text", name="name", id="name"></input></p>
    <p><label for="ingredients">Ingredients: <input type="text", name="ingredients", id="ingredients"></input></p>
    <p><label for="name">Cook Time: <input type="text", name="cook_time", id="cook_time"></input></p>
    <p><input type="submit" value="Submit Recipe" id="submit"/>
</form>