<h2>Add a Recipe</h2>
<form action="/recipes" method="post">
  <h4><label for="name">Name:</label>
    <input type="text" name="name" id="name"></h4>
  <p><label for="name">Ingredients:</label>
    <textarea name="ingredients"></textarea></p>
  <p><label for="name">Cook Time:</label>
    <input type="text" name="cook_time" id="cook_time"></p>
  <p><input type="submit" value="Submit"</p>
</form>