<form action="/recipes" method="post">
  <p>Recipe Name: <input type="text" name="name" id="name"></p>
  <p>Cooking Time: <input type="text" name="cook_time" id="cook_time"></p>
  <p>Ingredients: <input type="text" name="ingredients" id="ingredients"></p>
  <input type="submit" value="Submit">
</form>