<h2><%= @recipe.name %></h2>
<h3>Total cooking time: <%= @recipe.cook_time %></h3>
<p>Ingredients: <%= @recipe.ingredients %></p>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" id="delete" value="Delete Recipe">
</form>